<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Gestion du Header Authorization (pour les API)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si le fichier demandé n'est pas un dossier et n'existe pas physiquement
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # On envoie tout à l'index.php qui est dans ce même dossier
    RewriteRule ^ index.php [L]
</IfModule>